.dark-header {
  background-color: #222;
  .button-fab {
    bottom: -32px;
    z-index: 5;
  }
}
.home {
  scroll-content {
    overflow: hidden;
    .button-fab {
      z-index: 5;
    }
    ion-slides {
      height: calc(100vh - 56px - 180px);
      margin: 0;
      h1.question {
        margin: 0;
      }
    }
    .toggle {
      position: absolute;
      top: calc(50% - 64px);
      left: calc(50% - 64px);
      opacity: 0.3;
      height: 128px;
      width: 128px;
      ion-icon {
        font-size: 4em;
      }
    }
  }
}
