<ion-header class="dark-header">
  <ion-navbar dark>
    <ion-title>Interviewer</ion-title>
  </ion-navbar>
  <canvas id="sparkLine"></canvas>
  <button fab light fab-bottom fab-center class="calibrate" (click)="calibrate()" [disabled]="playing">
    <ion-spinner *ngIf="loading"></ion-spinner>
    <ion-icon *ngIf="!loading" name="infinite"></ion-icon>
  </button>
</ion-header>

<ion-content class="home" padding>
  <ion-slides #qSlider (ionDidChange)="onSlideChanged()" [options]="{onlyExternal: true}">
    <ion-slide *ngFor="let q of questions; let i = index">
        <h1 class="question">{{ i+1 }}. {{ q.question }}</h1>
    </ion-slide>
  </ion-slides>

  <button fab light class="toggle" (click)="toggleInterview()">
    <ion-icon name="{{playing ? 'square' : 'play'}}"></ion-icon>
  </button>


  <button fab dark fab-bottom fab-right (click)="openQuestions()" [disabled]="playing">
    <ion-icon name="list"></ion-icon>
  </button>
</ion-content>
